# Virtual environments
.venv

# Dataset
datasets/test_tracking
datasets/train_annotation
datasets/train_tracking
datasets/sample_submission.csv
datasets/test.csv
datasets/train.csv

# Kaggle Credentials
kaggle.json

# Python cache folders and compiled files
__pycache__/
*.pyc